In [1]:
import pandas as pd
import numpy

In [3]:
df = pd.read_csv('example.chr22.one.phased.impute2', sep=' ', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,745,746,747,748,749,750,751,752,753,754
0,---,rs5754787,20400130,A,G,0.000,0.002,0.998,0.000,0.002,...,0.998,0.000,0.002,0.998,0.000,0.002,0.998,0.000,0.002,0.998
1,---,rs5754789,20400241,G,A,0.020,0.955,0.025,0.005,0.981,...,0.005,0.963,0.037,0.000,0.505,0.492,0.002,0.954,0.045,0.000
2,---,rs5754790,20400271,A,G,0.021,0.954,0.025,0.005,0.981,...,0.005,0.963,0.037,0.000,0.506,0.492,0.002,0.954,0.045,0.000
3,---,rs2329827,20400489,C,T,0.023,0.949,0.028,0.005,0.980,...,0.006,0.961,0.039,0.000,0.509,0.488,0.003,0.953,0.047,0.000
4,---,rs7286932,20400543,A,C,0.495,0.497,0.007,0.612,0.387,...,0.008,0.553,0.397,0.050,0.481,0.435,0.085,0.479,0.459,0.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,---,rs4821336,20499057,T,C,0.998,0.002,0.000,0.998,0.002,...,0.000,0.998,0.002,0.000,0.006,0.994,0.000,0.998,0.002,0.000
236,---,22-20499140,20499140,A,C,0.998,0.002,0.000,0.998,0.002,...,0.000,0.845,0.155,0.000,0.998,0.002,0.000,0.845,0.155,0.000
237,---,rs4821337,20499149,G,C,0.000,0.998,0.000,0.000,0.998,...,0.008,0.668,0.331,0.000,0.998,0.002,0.000,0.668,0.331,0.000
238,---,rs4821339,20499199,G,T,0.000,0.998,0.000,0.000,0.998,...,0.002,0.001,0.998,0.000,0.006,0.994,0.000,0.001,0.998,0.000
239,---,rs73149947,20499510,C,T,0.519,0.481,0.000,0.862,0.138,...,0.000,0.897,0.103,0.000,0.931,0.069,0.000,0.870,0.130,0.000

In [6]:
df[0].unique()

array(['---', 'SNP_A-2269454', 'SNP_A-1839619', 'SNP_A-1844316',
       'SNP_A-2102470', 'SNP_A-2061399', 'SNP_A-1881136', 'SNP_A-4244267',
       'SNP_A-2270792', 'SNP_A-1880487', 'SNP_A-4243307', 'SNP_A-4245033',
       'SNP_A-2120047', 'SNP_A-4298195', 'SNP_A-1970721', 'SNP_A-4201707'],
      dtype=object)

In [7]:
df1 = pd.read_csv('example.chr22.one.phased.impute2_info', sep=' ')
df1

,snp_id,rs_id,position,a0,a1,exp_freq_a1,info,certainty,type,info_type0,concord_type0,r2_type0
0,---,rs5754787,20400130,A,G,0.999,0.000,0.998,0,-1.0,-1.0,-1.0
1,---,rs5754789,20400241,G,A,0.279,0.887,0.944,0,-1.0,-1.0,-1.0
2,---,rs5754790,20400271,A,G,0.279,0.886,0.944,0,-1.0,-1.0,-1.0
3,---,rs2329827,20400489,C,T,0.279,0.881,0.942,0,-1.0,-1.0,-1.0
4,---,rs7286932,20400543,A,C,0.341,0.358,0.632,0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
235,---,rs4821336,20499057,T,C,0.039,0.970,0.998,0,-1.0,-1.0,-1.0
236,---,22-20499140,20499140,A,C,0.023,0.173,0.956,0,-1.0,-1.0,-1.0
237,---,rs4821337,20499149,G,C,0.352,0.827,0.900,0,-1.0,-1.0,-1.0
238,---,rs4821339,20499199,G,T,0.449,0.992,0.996,0,-1.0,-1.0,-1.0
239,---,rs73149947,20499510,C,T,0.065,0.181,0.877,0,-1.0,-1.0,-1.0

In [3]:
with open('example.chr22.one.phased.impute2_summary') as f:
    lines = f.readlines()
    
lines

['\n',
 '======================\n',
 ' IMPUTE version 2.3.2 \n',
 '======================\n',
 '\n',
 'Copyright 2008 Bryan Howie, Peter Donnelly, and Jonathan Marchini\n',
 'Please see the LICENCE file included with this program for conditions of use.\n',
 '\n',
 'The seed for the random number generator is 367154816.\n',
 '\n',
 'Command-line input: ./impute2 -m ./Example/example.chr22.map -h ./Example/example.chr22.1kG.haps -l ./Example/example.chr22.1kG.legend -g ./Example/example.chr22.study.gens -strand_g ./Example/example.chr22.study.strand -int 20.4e6 20.5e6 -Ne 20000 -o ./Example/o/example.chr22.one.phased.impute2\n',
 '\n',
 '---------------------------------\n',
 ' Nomenclature and data structure \n',
 '---------------------------------\n',
 '\n',
 '     Panel 0: phased reference haplotypes\n',
 '     Panel 2: unphased study genotypes\n',
 '\n',
 'For optimal results, each successive panel (0,1,2) should contain a subset of the SNPs in the previous panel. When the data structure deviates from this ideal configuration, IMPUTE2 tries to use as much of the available information as possible; see documentation for details.\n',
 '\n',
 '-------------\n',
 ' Input files \n',
 '-------------\n',
 '\n',
 '         Panel 0 haplotypes: ./Example/example.chr22.1kG.haps\n',
 '         Panel 0 hap legend: ./Example/example.chr22.1kG.legend\n',
 '          Panel 2 genotypes: ./Example/example.chr22.study.gens\n',
 '        Panel 2 strand info: ./Example/example.chr22.study.strand\n',
 '                genetic map: ./Example/example.chr22.map\n',
 '\n',
 '--------------\n',
 ' Output files \n',
 '--------------\n',
 '\n',
 '                main output: ./Example/o/example.chr22.one.phased.impute2\n',
 '                SNP QC info: ./Example/o/example.chr22.one.phased.impute2_info\n',
 '             sample QC info: ./Example/o/example.chr22.one.phased.impute2_info_by_sample\n',
 '                run summary: ./Example/o/example.chr22.one.phased.impute2_summary\n',
 '                warning log: ./Example/o/example.chr22.one.phased.impute2_warnings\n',
 '\n',
 '-----------------\n',
 ' Data processing \n',
 '-----------------\n',
 '\n',
 '-reading genetic map from -m file\n',
 ' --filename=[./Example/example.chr22.map]\n',
 ' --read 262 SNPs in the analysis interval+buffer region\n',
 '\n',
 '-reading strand info for Panel 2 from -strand_g file\n',
 ' --filename=[./Example/example.chr22.study.strand]\n',
 ' --read strand info for 33 SNPs in the analysis region\n',
 '\n',
 '-reading Panel 2 genotypes from -g file\n',
 ' --filename=[./Example/example.chr22.study.gens]\n',
 ' --detected 250 individuals\n',
 ' --read 33 SNPs in the analysis interval+buffer region\n',
 '\n',
 '-using -strand_g file to align Panel 2 allele labels\n',
 ' --flipped strand at 14 out of 33 SNPs\n',
 '\n',
 '-reading Panel 0 haplotypes from -h and -l files\n',
 ' --filename=[./Example/example.chr22.1kG.haps]\n',
 ' --filename=[./Example/example.chr22.1kG.legend]\n',
 ' --detected 112 haplotypes\n',
 ' --read 790 SNPs in the analysis interval+buffer region\n',
 '\n',
 '-removing SNPs that violate the hierarchical data requirements\n',
 ' --no SNPs removed\n',
 '\n',
 '-removing reference-only SNPs from buffer region\n',
 ' --removed 538 SNPs\n',
 '\n',
 '-checking strand alignment between Panel 2 and Panel 0 by allele labels\n',
 ' --flipped strand due to allele mismatch at 0 out of 33 SNPs in Panel 2\n',
 '\n',
 '-aligning allele labels between panels\n',
 '\n',
 '-removing non-aligned genotyped SNPs\n',
 ' --removed 0 out of 27 SNPs with data in multiple panels\n',
 '\n',
 '--------------\n',
 ' Data summary \n',
 '--------------\n',
 '\n',
 '[type 0 = SNP in Panel 0 only]\n',
 '[type 1 = SNP in Panel 1]\n',
 '[type 2 = SNP in Panel 2 and all ref panels]\n',
 '[type 3 = SNP in Panel 2 only]\n',
 '\n',
 '-Upstream buffer region\n',
 ' --0 type 0 SNPs\n',
 ' --0 type 1 SNPs\n',
 ' --10 type 2 SNPs\n',
 ' --2 type 3 SNPs\n',
 ' --12 total SNPs\n',
 '\n',
 '-Downstream buffer region\n',
 ' --0 type 0 SNPs\n',
 ' --0 type 1 SNPs\n',
 ' --5 type 2 SNPs\n',
 ' --1 type 3 SNPs\n',
 ' --6 total SNPs\n',
 '\n',
 '-Analysis region (as defined by -int argument)\n',
 ' --225 type 0 SNPs\n',
 ' --0 type 1 SNPs\n',
 ' --12 type 2 SNPs\n',
 ' --3 type 3 SNPs\n',
 ' --240 total SNPs\n',
 '\n',
 '-Output file\n',
 ' --225 type 0 SNPs\n',
 ' --0 type 1 SNPs\n',
 ' --12 type 2 SNPs\n',
 ' --3 type 3 SNPs\n',
 ' --240 total SNPs\n',
 '\n',
 '-In total, 258 SNPs will be used in the analysis, including 27 Panel 2 SNPs\n',
 '\n',
 '-making initial haplotype guesses for Panel 2 by phasing hets at random and imputing missing genotypes from allele freqs\n',
 '\n',
 '-setting storage space\n',
 '-setting mutation matrices\n',
 '-setting switch rates\n',
 '\n',
 '----------------\n',
 ' Run parameters \n',
 '----------------\n',
 '\n',
 '        reference haplotypes: 112 [Panel 0]\n',
 '           study individuals: 250 [Panel 2]\n',
 '           sequence interval: [20400000,20500000]\n',
 '                      buffer: 250 kb\n',
 '                          Ne: 20000\n',
 '           input call thresh: 0.900\n',
 '     burn-in MCMC iterations: 10\n',
 '       total MCMC iterations: 30 (20 used for inference)\n',
 '      HMM states for phasing: 80 [Panel 2]\n',
 '   HMM states for imputation: 112 [Panel 0->2]\n',
 '\n',
 '---------\n',
 ' Run log \n',
 '---------\n',
 '\n',
 'RESETTING PARAMETERS FOR "SURROGATE FAMILY" MODELING\n',
 '-setting mutation matrices\n',
 '-setting switch rates\n',
 '\n',
 'diploid sampling success rate: 0.988\n',
 '\n',
 'haploid sampling success rate: (no haploid sampling performed)\n',
 '\n',
 '\n',
 '--------------------------------\n',
 ' Imputation accuracy assessment \n',
 '--------------------------------\n',
 '\n',
 'The table below is based on an internal cross-validation that is performed during each IMPUTE2 run. For this analysis, the program masks the genotypes of one variant at a time in the study data (Panel 2) and imputes the masked genotypes by using the remaining study and reference data. The imputed genotypes are then compared with the original genotypes to produce the concordance statistics shown in the table. You can learn more about this procedure and the contents of the table at http://mathgen.stats.ox.ac.uk/impute/concordance_table_description.html.\n',
 '\n',
 'In the current analysis, IMPUTE2 masked, imputed, and evaluated 2985 genotypes that were called with high confidence (maximum probability >= 0.90) in the Panel 2 input file (-g or -known_haps_g).\n',
 '\n',
 'When the masked study genotypes were imputed with reference data from Panel 0, the concordance between original and imputed genotypes was as follows:\n',
 '\n',
 '  Interval  #Genotypes %Concordance         Interval  %Called %Concordance\n',
 '  [0.0-0.1]          0          0.0         [ >= 0.0]   100.0         97.5\n',
 '  [0.1-0.2]          0          0.0         [ >= 0.1]   100.0         97.5\n',
 '  [0.2-0.3]          0          0.0         [ >= 0.2]   100.0         97.5\n',
 '  [0.3-0.4]          0          0.0         [ >= 0.3]   100.0         97.5\n',
 '  [0.4-0.5]          0          0.0         [ >= 0.4]   100.0         97.5\n',
 '  [0.5-0.6]         14         92.9         [ >= 0.5]   100.0         97.5\n',
 '  [0.6-0.7]          4        100.0         [ >= 0.6]    99.5         97.5\n',
 '  [0.7-0.8]          6        100.0         [ >= 0.7]    99.4         97.5\n',
 '  [0.8-0.9]         38         86.8         [ >= 0.8]    99.2         97.5\n',
 '  [0.9-1.0]       2923         97.6         [ >= 0.9]    97.9         97.6\n']